<% layout("/layouts/boylerplate.ejs") %>

<body>
  <h3>Edit Listing</h3>
  <form method="POST" action="/listings/<%= list._id %>?_method=PUT">
    
    <label>Title:</label><br />
    <input name="listing[title]" value="<%= list.title %>" type="text" required />
    <br /><br />

    <label>Description:</label><br />
    <textarea name="listing[description]" rows="4" required><%= list.description %></textarea>
    <br /><br />

    <label>Image URL:</label><br />
    <input name="listing[image]" value="<%= list.image %>" type="text" required/>
    
    <br /><br />

    <label>Price (₹):</label><br />
    <input name="listing[price]" value="<%= list.price %>" type="number" required />
    <br /><br />

    <label>Country:</label><br />
    <input name="listing[country]" value="<%= list.country %>" type="text" required />
    <br /><br />

    <label>Location:</label><br />
    <input name="listing[location]" value="<%= list.location %>" type="text" required />
    <br /><br />

    <button type="submit">Update Listing</button>
  </form>
</body>
